<?xml version="1.0" encoding="utf-8"?>
<configuration debug="false" scan="true" scanPeriod="30">
    <springProperty scope="context" name="log.logLevel" source="logging.level" defaultValue="info"/>

    <springProperty scope="context" name="module.name" source="spring.application.name" defaultValue="undefined"/>
    <springProperty scope="context" name="iot.log.path" source="iot.log.path" defaultValue="/iot/logs/"/>
    <property name="log.base" value="${iot.log.path}${module.name}/${module.name}"/>

    <!-- consoel out -->
    <appender name="console_out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative %-5level [%thread] %logger{80}:\t %msg%n</pattern>
        </encoder>
    </appender>

    <!--  file out -->
    <appender name="infoFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- file out -->
    <appender name="errorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  file out -->
    <appender name="traceFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}-trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.base}-trace%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>1
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %-4relative [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console_out"/>
        <appender-ref ref="infoFileAppender"/>
        <appender-ref ref="errorFileAppender"/>
        <appender-ref ref="traceFileAppender"/>
    </root>
</configuration>
