<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- start: CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style-responsive.min.css}" rel="stylesheet" />
    <link th:href="@{/css/retina.css}" rel="stylesheet" />
    <!-- end: CSS -->
</head>

<body>
<!--这是我们的View-->
<div id="app">
    <p>{{ message }}</p>
    <input type="text" v-model="message"/>
    <p>{{ msg }}</p>
    <input type="text" v-model="msg"/>
    <p>{{ info }}</p>
</div>

<div id="app1">
    <p>{{ msg }}</p>
    <input type="text" v-model="msg"/>
    <button v-on:click="on"></button>
</div>
</body>
<script src="/js/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script >
    // 这是我们的Model
    var exampleData = {
        message: 'Hello World!',
        msg: ""
    }

    // 创建一个 Vue 实例或 "ViewModel"
    // 它连接 View 与 Model
    new Vue({
        el: '#app',
        data: exampleData
    });

    new Vue({
        el: '#app1',
        data: exampleData,
        methods:{
            on:function(){window.open();}
        }
    });

    new Vue({
        el: '#app',
        data () {
            return {
                info: null
            }
        },
        mounted () {
            axios
                .get('/user/list')
                .then(response => (this.info = response))
        }
    })

</script>
</html>
