<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.applications.mapper.OrganizationMapper">
    <resultMap id="organizationMap" type="com.example.demo.applications.entity.OrganizationEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <association property="parent" javaType="com.example.demo.applications.entity.OrganizationEntity" >
            <id column="parent_id" property="id"/>
        </association>
    </resultMap>
    <select id="get" resultType="com.example.demo.applications.entity.OrganizationEntity">
        select t.* from cm_organization t where t.id=#{id}
    </select>

    <insert id="add" parameterType="com.example.demo.applications.entity.OrganizationEntity">
        insert into cm_organization (name, parent_id, status, creator_id, create_time, modifier_id, modify_time)
        values(#{name},#{parent.id},#{status},#{currentUser.id},now(),#{currentUser.id},now())
    </insert>

    <select id="list" resultMap="organizationMap">
        select t.* from cm_organization t where t.status!=2
    </select>

    <select id="page" resultType="com.example.demo.applications.entity.OrganizationEntity">
        select t.* from cm_organization t where t.status!=2
    </select>

    <update id="changeStatus">
        update cm_organization set status=#{status} where id=#{id}
    </update>
</mapper>
