<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.applications.mapper.UserMapper">

    <resultMap type="com.example.demo.plugins.model.entity.UserEntity" id="userMap">
        <id property="id" column="id" jdbcType="NUMERIC"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status"/>
        <!-- 		column:对应的列名		property:对应的属性名	 -->
        <association property="organization" javaType="com.example.demo.plugins.model.entity.OrganizationEntity">
            <id property="id" column="org_id" jdbcType="NUMERIC"/>
            <result property="name" column="org_name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="getByUsername" resultType="com.example.demo.plugins.model.entity.UserEntity">
        SELECT t.*
        FROM cm_employee t
        WHERE username = #{0}
    </select>

    <insert id="add" parameterType="com.example.demo.plugins.model.entity.UserEntity">
        insert into cm_employee (username, password
        <if test="organization != null">,org_id</if>
        , name, phone, status, creator_id, create_time, modifier_id, modify_time)
        values(#{username},#{password}
        <if test="organization != null">,#{organization.id}</if>
        ,#{name},#{phone},#{status},#{currentUser.id},now(),#{currentUser.id},now())
    </insert>

    <select id="list" resultType="com.example.demo.plugins.model.entity.UserEntity">
        SELECT t.*
        FROM cm_employee t
    </select>

    <select id="page" resultMap="userMap" parameterType="com.example.demo.plugins.model.page.PageParameter">
        select e.*,d.name department_name,d.id department_id from cm_employee e left join cm_organization d on
        e.org_id=d.id where 1=1
        <if test="username != null and username != ''">
            and e.username=#{username}
        </if>
        <if test="name != null and name != ''">
            and e.name =#{name}
        </if>

    </select>

    <update id="mod" parameterType="com.example.demo.plugins.model.entity.UserEntity">
        UPDATE cm_employee
        SET password = #{password}, name = concat(name, 1)
        WHERE username = #{username}
    </update>


    <update id="changeStatus">
        UPDATE cm_employee
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <insert id="addRoles" parameterType="com.example.demo.plugins.model.entity.UserEntity">
        insert into cm_employee_role (employee_id, role_id) values
            <foreach collection="roles" open="(" close=")" separator="," item="role">
                (#{id},#{role})
            </foreach>
    </insert>

    <delete id="delRoles" parameterType="com.example.demo.plugins.model.entity.UserEntity">
        delete from cm_employee_role where employee_id=#{id}
    </delete>
</mapper>
